{% extends 'base.html' %}

{% block title %}Gallery{% endblock %}

{% block content %}
    <h1>Gallery Page</h1>
        <section id="gallery">
            <h2>Gallery</h2>
            <div class="gallery-container">
                <img src="static/imgs/leeds6.jpg" alt="Image description">
                <img src="static/imgs/leeds5.jpg" alt="Image description">
                <img src="static/imgs/leeds4.jpg" alt="Image description">
                <img src="static/imgs/leeds3.jpg" alt="Image description">
                <img src="static/imgs/leeds2.jpg" alt="Image description">
                <img src="static/imgs/leeds1.jpg" alt="Image description">
                <img src="static/imgs/TT1.jpg" alt="Image description">
                <img src="static/imgs/TT2.jpg" alt="Image description">
                <img src="static/imgs/TT3.jpg" alt="Image description">
                <img src="static/imgs/TT4.jpg" alt="Image description">
                <img src="static/imgs/TT5.jpg" alt="Image description">
                <img src="static/imgs/twin-bill1.jpg" alt="Image description">
                <img src="static/imgs/twin-bill2.jpg" alt="Image description">
                <img src="static/imgs/twin-bill3.jpg" alt="Image description">
                <img src="static/imgs/twin-bill4.jpg" alt="Image description">
            </div>
        </section>
        {% endblock %} 
