{% extends 'base.html' %}

        {% block title %}Gallery{% endblock %}
        
        {% block content %}
                <section id="prev-shows" style="margin-top: 10%;">
                    <h2>Previous Live shows</h2>
                    <div class="shows-container">
                        <img src="static/imgs/imgshow/barnsley12617.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/drop.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/fma.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/fma2.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/givegig.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/glistenbury.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/live.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/mm.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/oakworth.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/santiagos.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/shipsgigs.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/squarechapel.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/unity.jpg" alt="Image description">
                        <img src="static/imgs/imgshow/venue21116.jpg" alt="Image description">
                    </div>
                </section>

        {% endblock %}
