{% extends 'base.html' %}

        {% block title %}Music Videos{% endblock %}
        
        {% block content %}
        <section id="video-gallery" style="margin-top: 10%;">
            <h2>Video Gallery</h2>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/in-wZKeB2MM" frameborder="0" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/m2oX7jYctRM" frameborder="0" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MyxE2SptpYs" frameborder="0" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3refBBwhLOU" frameborder="0" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Jd9ekMbYEX0" frameborder="0" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uk0QOcfLpHM" frameborder="0" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2SeEkdcnRqY" frameborder="0" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-S_YsfOgB0U" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
        
        {% endblock %}
